@(message:String,user:model.User)

<!DOCTYPE html>
<html>
<head lang="en">
    <!-- Personalized css -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- JQuery script -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



    <meta charset="UTF-8">
    <title>Chirper</title>
</head>
<body>
<!--vvvvv TOP MENU NAVIGATION BAR - - same for every page vvvvvv-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!--CHIRPER LOGO/HOME BUTTON AND CATCHPHRASE-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Chirper</a>
            <p class="navbar-text">Tell everyone everything!</p>
        </div>
        <!--PRESENTS SEARCH BAR IF USER LOGGED IN, PRESENTS LOGIN PANEL IF USER NOT LOGGED IN-->
        <ul class="nav navbar-nav navbar-right">
            @if(user!=null){
            <li>
                <form class="navbar-form navbar-left" role="search" action="search">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Search Chirper">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </li>
            } else {
            <li>
                <form class="navbar-form navbar-left" method="post" action="login">
                    <div class="form-group">
                        <input type="text" name="email" class="form-control" placeholder="Email">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </li>
            }
            <!--PRESENTS USEREMAIL AND USER OPTIONS DROPDOWN IF LOGGED IN, PRESENTS 'NOT LOGGED IN' AND REGISTRATION/LOGIN OPTIONS IN DROPDOWN OTHERWISE-->
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    @if(user!=null){
                    @user.getEmail()
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="user?email=@user.getEmail">My Chirps</a> </li>
                    <li><a href="viewactivesessions">Active Sessions</a></li>
                    <li><a href="logout">Logout</a></li>
                    } else {
                    Not logged in
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="register">Register</a></li>
                        <li><a href="login">Login</a></li>
                        }
                    </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--^^^^^ TOP MENU NAVIGATION BAR - - same for every page ^^^^^^^-->

<!--vvvvv LEFT PANEL - - same for every page vvvvvv-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <!--IF LOGGED IN PRESENTS POST PANEL, OTHERWISE PRESENTS LOGIN MESSAGE-->
            @if(user!=null){
            <form action="post" method="post">
                <textarea class="form-control" rows="col-md-4" name="message" maxlength="140" placeholder="Post to Chirper!"></textarea>
                <button type="submit">Post</button>
            </form>
            } else {
            <div class="panel panel-warning">
                <div class="panel body">
                    <p class="bg-warning">Login or Register to access Chirper!</p>
                </div>
            </div>
            }
            <!--IF MESSAGE EXISTS IN REQUEST, MESSAGE IS DISPLAYED IN A WARNING PANEL-->
            @if(message!=null){
            <div class="panel panel-warning">
                <div class="panel body">
                    <p class="bg-warning">@message</p>
                </div>
            </div>
            }
        </div>
        <!--^^^^^ LEFT PANEL - - same for every page ^^^^^^^-->
        <!--vvvvv RIGHT CONTENT PANEL - - differs per page vvvvv-->
        <div class="col-md-8">
            <!--PRESENTS A LOGIN FORM TO THE USER-->
            <div class="panel panel-primary">
                <div class="panel heading"><p class="bg-primary">Login</p></div>
                <div class="panel body">
                    <form action="login" method="post">
                        <h3>Enter your email:</h3>
                        <input type="text" name="email">
                        <h3>Enter your password:</h3>
                        <input type="password" name="password" />
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <!--^^^^^ RIGHT PANEL - - differs per page ^^^^^^^-->
    </div>
</div>
</body>
</html>